Repository Champstylo17/G-Invoicing-Enterprise, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, docs, ci

.github/labeler.yml:

frontend:
  - apps/web/**
backend:
  - apps/api/**
docs:
  - docs/**
ci:
  - .github/workflows/**

Initial commit: Enterprise system with AI, plugins, dashboards
  .github/workflows/deploy.yml
  .gitignore
  .turbo/daemon/577593f1c7944c74-turbo.log.2025-04-22
  apps/api/routes/agencies.js
  apps/api/routes/ai.js
  apps/api/routes/metrics.js
  apps/api/server.js
  apps/web/index.html
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/App.jsx
  apps/web/src/App.tsx
  apps/web/src/dashboard/pages/agencies.tsx
  apps/web/src/dashboard/pages/invoices.tsx
  apps/web/src/dashboard/pages/overview.jsx
  apps/web/src/dashboard/pages/overview.tsx
  apps/web/src/data/agencies.json
  apps/web/src/data/invoices.json
  apps/web/src/data/metrics.json
  apps/web/src/feedback.js
  apps/web/src/main.jsx
  apps/web/src/pages/Dashboard.jsx
  apps/web/src/styles/index.css
  apps/web/tailwind.config.js
  apps/web/vite.config.js
  package-lock.json
Labels: frontend, backend, ci

📦 Fix: Add Vite React plugin for Vercel build
  apps/web/package.json
Labels: frontend

Add missing @vitejs/plugin-react for Vercel
  apps/web/src/index.css
Labels: frontend

🚑 Moved index.css to src folder to fix Vercel build
  package-lock.json
Labels: none

Initial commit
  apps/web/public/index.html
  apps/web/src/Dashboard.jsx
  apps/web/src/cards/KpiCard.jsx
  apps/web/src/charts/TimeInStateBarChart.jsx
  apps/web/src/charts/TreasuryDonutChart.jsx
  apps/web/src/dashboard/DashboardLayout.jsx
  apps/web/src/dashboard/pages/audit.jsx
  apps/web/src/dashboard/pages/compliance.jsx
  apps/web/src/dashboard/pages/dictionary.jsx
  apps/web/src/dashboard/pages/overview.jsx
  apps/web/src/dashboard/pages/permissions.jsx
  apps/web/src/main.jsx
  apps/web/src/tables/AuditTrailTable.jsx
  apps/web/src/tables/ChangeJustification.jsx
  apps/web/src/tables/DataDictionary.jsx
  apps/web/src/tables/PermissionsTable.jsx
Labels: frontend

first commit
  README.md
Labels: none

Initial commit: G-Invoicing Enterprise SaaS platform
  README.md
  deploy/DEPLOYMENT_GUIDE.md
  deploy/Mermaid_Architecture.md
  deploy/README_DEPLOY.md
  deploy/azure-deploy.json
  deploy/deploy.yml
  deploy/deploy_docs_and_storybook.yml
  deploy/deploy_github_pages.sh
  deploy/deploy_heroku.sh
  deploy/deployment-manager.yaml
  deploy/deployment.md
  deploy/deployment.yaml
  deploy/docker-compose.yml
  deploy/fly_deploy.yml
  deploy/vercel_deploy.yml
Labels: none

Initial commit
  README.md
Labels: none

Add .gitignore
  .gitignore
Labels: none

Pushing cleaned and updated G-Invoicing platform to existing repo
  README.md
  apps/api/mock_data/dictionary.json
  apps/api/routes/agreements.js
  apps/api/routes/audit.js
  apps/api/routes/auth.js
  apps/api/routes/contractors.js
  apps/api/routes/dictionary.js
  apps/api/routes/permissions.js
  apps/api/routes/timelines.js
  apps/api/server.js
  apps/web/package.json
  apps/web/src/AppRoutes.jsx
  apps/web/src/Dashboard.jsx
  apps/web/src/components/auth/ProtectedRoute.jsx
  apps/web/src/components/cards/BottleneckDetectionCard.jsx
  apps/web/src/components/cards/UserStoriesList.jsx
  apps/web/src/components/cards/ValidationCard.jsx
  apps/web/src/components/charts/ForecastCard.jsx
  apps/web/src/components/charts/ReadinessHeatmap.jsx
  apps/web/src/components/charts/TransitionFlowChart.jsx
  apps/web/src/components/tables/TransitionAuditTable.jsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/layout/AppLayout.jsx
  apps/web/src/main.jsx
  apps/web/src/pages/ComplianceByAgency.jsx
  apps/web/src/pages/ContractSummaryTimeline.jsx
  apps/web/src/pages/InteragencyAgreementExplorer.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/tables/AgreementExplorer.jsx
  apps/web/src/tables/AuditLogTable.jsx
  apps/web/src/tables/ContractorList.jsx
  apps/web/src/tables/PermissionsTable.jsx
  apps/web/src/tables/TimelineChart.jsx
  apps/web/vite.config.js
  package-lock.json
  package.json
Labels: frontend, backend

Pushing cleaned and updated G-Invoicing platform to existing repo
  .turbo/daemon/577593f1c7944c74-turbo.log.2025-04-24
  apps/web/src/Dashboard.jsx
Labels: frontend

🔧 Add secure routes, enterprise tabs, UI upgrades, JWT protection
  .turbo/daemon/577593f1c7944c74-turbo.log.2025-04-24
  apps/api/middleware/auth.js
  apps/api/mock_data/ai_insights.json
  apps/api/mock_data/financials.json
  apps/api/mock_data/integration.json
  apps/api/mock_data/ontology.json
  apps/api/mock_data/tools.json
  apps/api/routes/ai_insights.js
  apps/api/routes/auth.js
  apps/api/routes/auth_route.js
  apps/api/routes/config.js
  apps/api/routes/devops.js
  apps/api/routes/financials.js
  apps/api/routes/integration.js
  apps/api/routes/ontology.js
  apps/api/routes/tools.js
  apps/api/routes/workflows.js
  apps/api/server.js
  apps/web/src/Dashboard.jsx
  apps/web/src/components/filters/FilterTabs.jsx
  apps/web/src/components/layout/BannerHeader.jsx
  apps/web/src/components/layout/SectionHeading.jsx
  apps/web/src/components/navigation/TabNav.jsx
  apps/web/src/features/ai-insights/AIDashboard.jsx
  apps/web/src/features/core/SystemConfigCenter.jsx
  apps/web/src/features/financials/FinancialInsights.jsx
  apps/web/src/features/infra/DevOpsPanel.jsx
  apps/web/src/features/integration/IntegrationStatus.jsx
  apps/web/src/features/ontology/OntologyView.jsx
  apps/web/src/features/processes/WorkflowStudio.jsx
  apps/web/src/features/tools/ToolsDiagnostics.jsx
  apps/web/src/layout/AppLayout.jsx
  apps/web/src/layout/GovernmentShell.jsx
  apps/web/src/pages/audit.jsx
  apps/web/src/pages/dictionary.jsx
  tailwind.config.js
Labels: frontend, backend

🔧 Add secure routes, enterprise tabs, UI upgrades, JWT protection
  apps/web/tailwind.config.js
  tailwind.config.js
Labels: frontend

🔧 Add secure routes, enterprise tabs, UI upgrades, JWT protection
  .turbo/daemon/577593f1c7944c74-turbo.log.2025-04-25
  apps/web/src/components/BannerHeader.jsx
  apps/web/src/components/FilterTabs.jsx
  apps/web/src/components/SectionHeading.jsx
  apps/web/src/components/TabNav.jsx
  apps/web/src/features/ontology/OntologyExplorer.jsx
  apps/web/src/features/tools/DevOpsPanel.jsx
  apps/web/src/features/tools/SystemConfigCenter.jsx
  apps/web/src/features/tools/WorkflowStudio.jsx
  tailwind.config.js
Labels: frontend

🔧 Add UItests, Tailwinds
  apps/web/src/AppRoutes.jsx
  apps/web/src/components/TailwindTest.jsx
  apps/web/src/components/UiTest.jsx
  tailwind.config.js
Labels: frontend

🔧 Add UItests, Tailwinds
  apps/web/src/dashboard/pages/UiTest.jsx
  tailwind.config.js
Labels: frontend

🔧 Add UItests, Tailwinds
  apps/web/src/AppRoutes.jsx
Labels: frontend

🔧 Add UItests, Tailwinds
  apps/web/src/Dashboard.jsx
  apps/web/src/Dashboard_Extension_Notes.txt
  apps/web/tailwind.config.js
  tailwind.config.js
Labels: frontend

🔧 Add UItests, Tailwinds
  apps/web/src/Dashboard.jsx
  apps/web/src/components/KpiCard.jsx
  apps/web/src/components/SidebarNav.jsx
  apps/web/src/components/TabNav.jsx
  apps/web/src/layout/AppLayout.jsx
Labels: frontend

Initial commit
  apps/web/src/components/LoadingSpinner.jsx
  apps/web/src/components/NavTabs.jsx
  apps/web/src/pages/Agreements.jsx
  apps/web/src/pages/Invoices.jsx
  apps/web/src/pages/Orders.jsx
  apps/web/src/pages/Payments.jsx
  apps/web/src/pages/Performances.jsx
Labels: frontend

Initial commit
  apps/web/public/images/dodi5000-97.jpg
  apps/web/public/images/psm-framework.webp
  apps/web/public/images/safe6-0.jpg
  apps/web/src/Dashboard.jsx
  apps/web/src/components/NavTabs.jsx
  apps/web/src/components/cards/BottleneckDetectionCard.jsx
  apps/web/src/components/cards/UserStoriesList.jsx
  apps/web/src/components/cards/ValidationCard.jsx
  apps/web/src/components/charts/ForecastCard.jsx
  apps/web/src/components/charts/ReadinessHeatmap.jsx
  apps/web/src/components/charts/TransitionFlowChart.jsx
  apps/web/src/components/ui/Alert.tsx
  apps/web/src/components/ui/Button.tsx
  apps/web/src/components/ui/Form.tsx
  apps/web/src/components/ui/Input.tsx
  apps/web/src/components/ui/LoadingSpinner.tsx
  apps/web/src/components/ui/Modal.tsx
  apps/web/src/components/ui/ScrollArea.tsx
  apps/web/src/components/ui/SectionHeading.tsx
  apps/web/src/components/ui/Select.tsx
  apps/web/src/components/ui/Textarea.tsx
  apps/web/src/components/ui/ThemeToggle.tsx
  apps/web/src/components/ui/Tooltip.tsx
  apps/web/src/components/ui/card.tsx
  apps/web/src/components/ui/cards.tsx
  apps/web/src/components/ui/index.tsx
  apps/web/src/components/ui/tabs.tsx
  apps/web/src/layout/AppLayout.jsx
  apps/web/src/layout/GovernmentShell.jsx
  apps/web/src/main.jsx
  apps/web/src/pages/Agreements.jsx
  apps/web/src/pages/ComplianceByAgency.jsx
  apps/web/src/pages/ContractSummaryTimeline.jsx
  apps/web/src/pages/InteragencyAgreementExplorer.jsx
  apps/web/src/pages/Login.jsx
Labels: frontend

Initial commit
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/assets/css/main.css
Labels: none

Initial commit
  apps/web/package.json
  apps/web/src/App.jsx
  apps/web/src/assets/css/main.css
  apps/web/src/main.jsx
  apps/web/tailwind.config.js
  apps/web/vite.config.js
Labels: frontend

Initial commit
  .turbo/daemon/577593f1c7944c74-turbo.log.2025-04-28
  apps/web/package.json
  apps/web/src/AppRoutes.jsx
  apps/web/src/components/ThemeToggle.jsx
  apps/web/src/index.css
  apps/web/src/main.jsx
  apps/web/src/pages/Agreements.jsx
  apps/web/src/pages/ComplianceAgency.jsx
  apps/web/src/pages/Dashboard.jsx
  apps/web/src/pages/Invoices.jsx
  apps/web/src/pages/Orders.jsx
  apps/web/src/pages/Payments.jsx
  apps/web/src/pages/Performances.jsx
  apps/web/src/pages/Permissions.jsx
  apps/web/src/pages/Tools.jsx
  apps/web/src/pages/WorkflowStudio.jsx
  apps/web/src/pages/audit.jsx
  apps/web/src/pages/dictionary.jsx
  apps/web/tailwind.config.js
  apps/web/vite.config.js
Labels: frontend
